form {
    margin: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mapa {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.mapa iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn {
    background-color: $color4;
}