form {
    margin: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mapa {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.mapa iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}