.contenedor{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem,1fr));
}

.contenedor {
    width: 80%;
    margin: auto;
    height: auto;
    padding: 2%;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;


    .item {
        min-width: 200px;
        min-height: 200px;
        border-radius: 5%;
        background-size: cover;
    }
}

.item:hover {
    transform: scale(1.1);
    transition: all 0.7s;
    box-shadow: 5px 5px 10px 1px #000;
}

#item1 {
    background-color: crimson;
    background-image: url(../imagenes/clases01.jpeg);
    background-position: center;
    background-size: cover;
}

#item2 {
    background-color: darkcyan;
    background-image: url(../imagenes/clases02.jpeg);
    background-position: center;
    background-size: cover;
}

#item3 {
    background-color: darkolivegreen;
    background-image: url(../imagenes/clases06.jpeg);
    background-position: center;
    background-size: cover;
}

#item4 {
    background-color: dimgrey;
    background-image: url(../imagenes/clases10.jpeg);
    background-position: center;
    background-size: cover;
}

#item5 {
    background-color: olivedrab;
    background-image: url(../imagenes/grupal03.jpeg);
    background-position: center;
    background-size: cover;
}

#item6 {
    background-color: khaki;
    background-image: url(../imagenes/tp03.jpeg);
    background-position: center;
    background-size: cover;
}

#item7 {
    background-color: olivedrab;
    background-image: url(../imagenes/tp02.jpeg);
    background-position: center;
    background-size: cover;
}

#item8 {
    background-color: yellow;
    background-image: url(../imagenes/tp06.jpeg);
    background-position: center;
    background-size: cover;
}