.contenedor {
    width: 80%;
    margin: auto;
    height: auto;
    padding: 2%;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    .item {
        min-width: 200px;
        min-height: 200px;
    }
}

.item:hover {
    transform: scale(1.1);
    transition: all 0.7s;
    box-shadow: 5px 5px 10px 1px #000;
}

#item1 {
    background-color: crimson;
    background-image: url(../imagenes/clases01.jpeg);
    background-position: center;
    background-size: cover;
}

#item2 {
    background-color: darkcyan;
    background-image: url(../imagenes/clases02.jpeg);
    background-position: center;
    background-size: cover;
}

#item3 {
    background-color: darkolivegreen;
    background-image: url(../imagenes/clases06.jpeg);
    background-position: center;
    background-size: cover;
}

#item4 {
    background-color: dimgrey;
    background-image: url(../imagenes/clases10.jpeg);
    background-position: center;
    background-size: cover;
}

#item5 {
    background-color: olivedrab;
    background-image: url(../imagenes/grupal03.jpeg);
    background-position: center;
    background-size: cover;
}

#item6 {
    background-color: khaki;
    background-image: url(../imagenes/tp03.jpeg);
    background-position: center;
    background-size: cover;
}

#item7 {
    background-color: olivedrab;
    background-image: url(../imagenes/tp02.jpeg);
    background-position: center;
    background-size: cover;
}

#item8 {
    background-color: yellow;
    background-image: url(../imagenes/tp06.jpeg);
    background-position: center;
    background-size: cover;
}

@media only screen and (min-width:320px) {

    .item {
        min-width: 150px;
        min-height: 150px;
    }

    #item1 {
        grid-column: 1/2;
        grid-row: 1/3;
        background-image: url(../imagenes/clases01.jpeg);
        background-size: cover;
        border-radius: 20px;
        margin: 5px;
    }

    #item2 {
        grid-column: 2/3;
        grid-row: 1/2;
        background-image: url(../imagenes/clases02.jpeg);
        background-size: cover;
        border-radius: 20px;
        margin: 5px;
    }

    #item3 {
        grid-column: 1/2;
        grid-row: 3/5;
        background-image: url(../imagenes/clases06.jpeg);
        background-size: cover;
        border-radius: 20px;
        margin: 5px;
    }

    #item4 {
        grid-column: 2/3;
        grid-row: 2/4;
        background-image: url(../imagenes/clases10.jpeg);
        background-size: cover;
        border-radius: 20px;
        margin: 5px;
    }

    #item5 {
        grid-column: 1/2;
        grid-row: 5/7;
        background-image: url(../imagenes/grupal03.jpeg);
        background-size: cover;
        border-radius: 20px;
        margin: 5px;
    }

    #item6 {
        grid-column: 2/3;
        grid-row: 4/6;
        background-image: url(../imagenes/tp03.jpeg);
        background-size: cover;
        border-radius: 20px;
        margin: 5px;
    }

    #item7 {
        grid-column: 1/3;
        grid-row: 7/9;
        background-image: url(../imagenes/tp02.jpeg);
        background-size: cover;
        border-radius: 20px;
        margin: 5px;
    }

    #item8 {
        grid-column: 2/3;
        grid-row: 6/7;
        background-image: url(../imagenes/tp06.jpeg);
        background-size: cover;
        border-radius: 20px;
        margin: 5px;
    }

}




@media only screen and (min-width:480px) {



    #item1 {
        grid-column: 1/2;
        grid-row: 1/3;
        background-image: url(../imagenes/clases01.jpeg);
        background-size: cover;
        border-radius: 20px;
        margin: 5px;
    }

    #item2 {
        grid-column: 2/3;
        grid-row: 1/2;
        background-image: url(../imagenes/clases02.jpeg);
        background-size: cover;
        border-radius: 20px;
        margin: 5px;
    }

    #item3 {
        grid-column: 3/5;
        grid-row: 1/2;
        background-image: url(../imagenes/clases06.jpeg);
        background-size: cover;
        border-radius: 20px;
        margin: 5px;
    }

    #item4 {
        grid-column: 2/3;
        grid-row: 2/4;
        background-image: url(../imagenes/clases10.jpeg);
        background-size: cover;
        border-radius: 20px;
        margin: 5px;
    }

    #item5 {
        grid-column: 3/4;
        grid-row: 2/3;
        background-image: url(../imagenes/grupal03.jpeg);
        background-size: cover;
        border-radius: 20px;
        margin: 5px;
    }

    #item6 {
        grid-column: 4/5;
        grid-row: 2/3;
        background-image: url(../imagenes/tp02.jpeg);
        background-size: cover;
        border-radius: 20px;
        margin: 5px;
    }

    #item7 {
        grid-column: 1/2;
        grid-row: 3/4;
        background-image: url(../imagenes/tp03.jpeg);
        background-size: cover;
        border-radius: 20px;
        margin: 5px;
    }

    #item8 {
        grid-column: 3/5;
        grid-row: 3/4;
        background-image: url(../imagenes/tp06.jpeg);
        background-size: cover;
        border-radius: 20px;
        margin: 5px;
    }

}