* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100hv;
    background-image: $bk-color2;
}

main {
    margin-bottom: 100px;
}

table {
    background-color: $color4;
    color: $color5;
}

footer {
    background-color: $color4;
    padding: 30px 0px;
}

.header {
    background-color: $color4;
    color: $color5;
    height: 100px;

    nav {
        background-color: $color4 !important;
    }
}

.headerTitle {
    display: flex;
    align-items: center;
    gap: 20px;
    align-content: center;

    img {
        width: 80px;
        height: 80px;
        border-radius: 10%;
        -webkit-box-shadow: 6px 9px 6px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 6px 9px 6px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 6px 9px 6px 0px rgba(0, 0, 0, 0.75);
    }

    .headerTitle_tittle {
        -webkit-transform: translateX(0);
        -webkit-transition-duration: 0.3s;

        :hover {
            -webkit-transform: translateY(-6px);
            -webkit-animation: 1.5s movercaja infinite;
        }
    }
}

.headerTitle_titulo:hover::before {
    //opacity: 0.4;
    -webkit-transform: translateY(6px);
    -webkit-animation: 1.5s moversombra infinite;
}

//efecto sombra
@-webkit-keyframes moversombra {
    50% {
        opacity: 1;
        -webkit-transform: translateY(3px);
    }
}

@-webkit-keyframes movercaja {
    50% {
        -webkit-transform: translateY(-1px);
    }
}

//barra de navegacion
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: auto;
}

#collapsibleNavbar {
    justify-content: flex-end;
}

.navbar-nav {
    display: flex;
    list-style: none;
    gap: 20px;
    

    li {
        transition: all 300ms;
        

        :hover {
            transition: all 300ms;
            transform: scale(1.4);

        }

        a {
            color: $color8;
            text-decoration: none;
            font-size: medium;

            :hover {
                color: $color5 !important;

            }
        }
    }
}


//Pie de pagina
.iconos {
    a {
        i {
            color: $color7;
            font-size: 20px;
            margin: 10px;

        }

        #iconos_whatsapp:hover {
            transform: scale(1.5);
            transition: all ease-in-out .2s;
            color: $color-what;
        }

        #iconos_instagram:hover {
            transform: scale(1.5);
            transition: all ease-in-out .2s;
            color: $color-insta;
        }

        #iconos_facebook:hover {
            transform: scale(1.5);
            transition: all ease-in-out .2s;
            color: $color-face;
        }
    }
}
