$color0: #F6E9CC;
$color1: #FEF5ED;
$color2: #D3E4CD;
$color3: #ADC2A9;
$color4: #99A799;
$color5: rgb(0, 116, 218);
$color6: rgb(180, 180, 180);
$color7: white;
$color8: aliceblue;
$color-what: rgb(66, 240, 50);
$color-face: rgb(71, 166, 255);
$color-insta:rgb(247, 40, 75);
$bk-color1: linear-gradient(rgb(89, 0, 255), rgb(250, 189, 76), rgb(255, 91, 91));
$bk-color2: linear-gradient(#FEF5ED, #D3E4CD, #ADC2A9);